@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* defining variables for color Palette*/
:root{
--orange: rgb(219, 177, 36);
--grey: #232326;
--white: #fff;
--pngcolor: #151519;
}

body{
   font-family: 'poppins', sans-serif;
}

.place__img{
  max-width: 400px;
  object-fit: cover;
  /* margin: 0px 5px 0 0; */
  height: 400px;
  transition: var(--img-transition);
}

.main {
  overflow-x: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section__title {
  font-size: 35px;
  color: #111;
  text-align: center;
  text-transform: capitalize;
  margin: 200px 0 20px 0;
}

.container-1{
  max-width: 968px;
  /* border: 1px solid yellow; */
  margin: 50px 10px;
}

/*=============== DISCOVER ===============*/
.discover__card {
  position: relative;
  width: 200px;
  object-fit: cover;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  /* border: 1px solid blue; */
  overflow: hidden;
}

.discover__img {
  transition: var(--img-transition);
}

.discover__img:hover {
  transform: var(--img-scale);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

/*=============== PLACES ===============*/
.place__card, .place__img {
  min-height: 400px;
  max-width: 250px;
}

.place__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
}

.place__card {
  position: relative;
  overflow: hidden;
}

.place__card::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(14, 14, 14, 0.253);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.place__card:hover .place__img {
  transform: var(--img-scale);
}
.place__content, .place__title {
  color: white;
  font-size: 18px;
  z-index: 2;
}
.place__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .75rem .75rem 1rem;
}
.place__rating {
  align-self: flex-end;
  display: flex;
  align-items: center;
}
.place__rating-icon {
  font-size: .75rem;
  margin-right: 2px;
}

.place__rating-number {
  font-size: var(--small-font-size);
}

.place__subtitle, .place__price {
  display: block;
  z-index: 2;
}

.place__title {
  font-size: 23px;
  z-index: 2;
  font-weight: 800;
  color: rgb(255, 208, 0);
}

.place__subtitle {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-1-25);
  z-index: 2;
}

.place__button {
  position: absolute;
  right: 0%;
  bottom: 0%;
  padding: .75rem 1rem;
  background-color: rgb(255, 187, 0);
  border: none;
  z-index: 2;
}
.place__button i{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 800;
  z-index: 2;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .place__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .place__container {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 768px) {
  .discover__container {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .discover__container,
  .place__container {
    padding-top: 2rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container-1 {
    margin-left: auto;
    margin-right: auto;
  }
  .discover__card {
    width: 237px;
  }
  .discover__container {
    width: 700px;
  }
  .discover__data {
    left: 1.5rem;
    bottom: 2rem;
  }
  .discover__title {
    font-size: var(--h2-font-size);
  }
  .place__container {
    gap: 3rem 2rem;
  }
  .place__card, .place__img {
    height: 263px;
  }
}

@media screen and (min-width: 1200px) {
  .container-1 {
    max-width: 1024px;
  }
}

/* css for glassmophormism */
.sect{
  height: 100vh;
  background: url('../images/success-stories.jpg') center no-repeat fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.sect h1{
  position: absolute;
  font-size: clamp(3.5rem, 15vw + 1rem, 9rem);
  text-transform: initial;
  /* letter-spacing: 5px; */
  font-weight: 700;
  transform: translateY(-50%);
  opacity: 0;
}
.glass{
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0, 8px, 32px, 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.h-glass{
  background: url('../images/success-stories.jpg') center no-repeat fixed;
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 50%;
  right: 0;
  animation: text1 0.8s ease-in forwards;
}
.sect::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(2, 32, 49, 0.301);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.h-regular{
  color: white;
  top: 50%;
  left: 50%;
  animation: text2 0.8s ease-in forwards;
  animation-delay: 500ms;
}
@keyframes text1 {
  0%{
      opacity: 0;
      transform: translate(-2em, -50%);
  }
  100%{
      opacity: 1;
      transform: translate(0, -50%);
  }
}
@keyframes text2 {
  0%{
      opacity: 0;
      transform: translate(2em, -50%);
  }
  100%{
      opacity: 1;
      transform: translate(0, -50%);
  }
}

.stories{
  width: 90%;
  border-top-left-radius: 63px;
  background-color: var(--white);
  height: auto;
  position: relative;
  margin: -150px auto 100px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 2;
  padding: 60px 30px;
}

.stories h1{
  color: var(--grey);
  font-weight: 600;
  font-size: 35px;
  padding: 15px;
}
.stories img{
  width: 100%;
  height: 75vh;
  margin: 20px 0px;
}
.stories h3{
  padding: 30px 15px;
  line-height: 30px;
  color: var(--orange);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.stories .iframe{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  align-items: center;
}
.stories p{
  line-height: 25px;
  padding: 15px 20px;
}
.stories hr{
  margin-top: 15px;
}
@media screen and (max-width:900px) {
  .sect h1{
      font-size: clamp(3.5rem, 15vw + 1rem, 7rem);
  }
  .stories{
      margin: -130px auto 0px;
      position: relative;
      background-color: var(--white);
      z-index: 2;
      border-top-left-radius: 60px;
  }
  .stories h1{
      font-size: 30px;
      font-weight: 700;
  }
  .stories h3{
      font-size: 23px;
      margin: 25px 0px;
  }
  .stories p{
      font-size: 14px;
      line-height: 25px;
  }
  .stories img{
      height: 50vh;
      margin: 10px 0px;
  }
}
@media screen and (max-width:720px){
  .sect h1{
      font-size: clamp(3.5rem, 15vw + 1rem, 5rem);
    }
}

@media screen and (max-width:550px){
  .sect{
      height: 100vh;
  }
  .sect h1{
      font-size: clamp(3.5rem, 15vw + 1rem, 3.5rem);
  }
  .stories h1{
      font-size: 20px;
      font-weight: 700;
      padding: 10px;
  }
  .stories h3{
      font-size: 15px;
      margin: 10px 0px;
      padding: 0;
  }
  .stories p{
      font-size: 12px;
      line-height: 20px;
      text-align: left;
      padding: 5px;
  }
  .stories img{
      height: 50vh;
  }
  .stories .iframe{
    display: none;
  }
  .stories hr{
    margin-bottom: 5px;
  }
}